@model UniversitySystemMVC.ViewModels.TeachersVM.TeachersAssignVM

@{
    ViewBag.Title = "AssignTeacher";
}

<h2>AssignTeacher</h2>

@using (Html.BeginForm())
{
    foreach (var c in Model.Courses)
    {
        <div class="form-control height-auto">
            @Html.RadioButtonFor(model => model.SelectedCourseId, c.Id, new { id = "course-"+c.Id, @class = "courses-rb" })
            <label for="course-@c.Id" class="control-label">@c.Name</label>
            <div class="subjects-list" id="subjects-@c.Id" style="display: none">
                @*Subjects will be here*@
                <ul></ul>
            </div>
        </div>
    }

    @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Assign" class="btn btn-default" />
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(function () {
        var rbs = document.getElementsByClassName('courses-rb');
        var currentRb;
        var currentUl;
        for (var i = 0; i < rbs.length; i++) {
            rbs[i].addEventListener('click', function (e) {
                if (currentRb) {
                    currentRb.slideToggle();
                    currentUl.innerHTML = "";
                }
                // prepare the request
                var data = { id: e.target.value, teacher: @Model.Id };
                // url to send the AJAX request to
                var url = '@Url.Action("GetSubjects")';
                // send an AJAX request
                UniSystem.Ajax.get(url, data, function (json) {
                    json = JSON.parse(json);
                    var listParent = $('#subjects-' + data.id);
                    var uls = [];
                    for (var s in json) {
                        //uls.push('<li>' + json.subjects[s].Name + '</li>');
                        var item = '<li><input type="checkbox" name="' + json[s].Id +
                                 '" id="subject-' + data.id + '-' + json[s].Id + '" ';
                        if(json[s].Checked) {
                            item += 'checked';
                        }
                        item += ' /> <label for="subject-' + data.id + '-' + json[s].Id + '">' + json[s].Name + '</label></li>';
                        uls.push(item);
                    }
                    currentUl = listParent.find('ul')[0];
                    currentUl.innerHTML = uls.join('');
                    listParent.slideToggle();
                    currentRb = listParent;
                });
            });
        }
    });
</script>