@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the admin panel</h2>

<ul>
    <li>@Html.ActionLink("Manage Students", "ManageStudents", "Admin")</li>
    <li>@Html.ActionLink("Manage Teachers", "ManageTeachers", "Admin")</li>
    <li>@Html.ActionLink("Manage Admins", "ManageAdmins", "Admin")</li>
    <li>@Html.ActionLink("Manage Courses", "ManageCourses", "Admin")</li>
    <li>@Html.ActionLink("Manage Subjects", "ManageSubjects", "Admin")</li>
    <li>@Html.ActionLink("Manage Titles", "ManageTitles", "Admin")</li>
</ul>