@model UniversitySystemMVC.ViewModels.AdminsVM.AdminsManageSubjectsVM

@{
    ViewBag.Title = "ManageSubjects";
}

<h2>ManageSubjects</h2>

<p>
    @Html.ActionLink("Create New", "CreateSubject", "Subject")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Courses</th>
        <th>Actions</th>
    </tr>

@foreach (var s in Model.Subjects) {
    <tr>
        <td>@s.Name</td>
        <td>
            @foreach (var t in s.CoursesSubjects)
            {
                <h4>@t.Course.Name</h4>
                @String.Join(",", t.Teachers.Select(x => x.LastName))
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSubject", "Subject", new { id = s.Id }, null) |
            @Html.ActionLink("Details", "Details", "Subject", new { id = s.Id }, null) |
            @Html.ActionLink("Delete", "DeleteSubject", "Subject", new { id = s.Id }, null)
        </td>
    </tr>
}

</table>
