@model UniversitySystemMVC.ViewModels.AdminsVM.AdminsManageCoursesVM

@{
    ViewBag.Title = "Manage Courses";
}

<h2>Manage Courses</h2>

<p class="pull-left">
    @Html.ActionLink("Create New Course", "CreateCourse", "Course")
</p>

<p class="pull-right">@Model.Courses.Count courses</p>


<table class="table">
    <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Subjects</th>
        <th>Actions</th>
    </tr>

    @foreach (var c in Model.Courses)
    {
        <tr>
            <td>@c.Code</td>
            <td>@c.Name</td>
            <td>@Html.Raw(String.Join(", ", @c.CoursesSubjects.Where(s => s.CourseId == c.Id).Select(s => { return Html.ActionLink(s.Subject.Name, "Details", "Subject", new { id = s.Subject.Id }, new { target = "_blank" }); })))</td>
            <td>
                @Html.ActionLink("Edit", "EditCourse", "Course", new { id = c.Id }, null) |
                @Html.ActionLink("Details", "Details", "Course", new { id = c.Id }, null) |
                @Html.ActionLink("Delete", "DeleteCourse", "Course", new { id = c.Id }, null)
            </td>
        </tr>
        
    }
</table>