@model UniversitySystemMVC.ViewModels.AdminsVM.AdminsManageStudentsVM

@{
    ViewBag.Title = "Manage Students";
}

<h2>ManageStudents</h2>

<p>
    @Html.ActionLink("Create New Student", "CreateStudent", "Student")
</p>


@foreach (var item in Model.Courses)
{
    <div>
        <h3 class="pull-left">@item.Name</h3>
        <div class="pull-right">
            <h5>@item.Students.Count(s => s.IsActive) / @item.Students.Count() students</h5>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Faculty Number</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        @foreach (var st in item.Students.OrderBy(s => s.FacultyNumber))
        {
            <tr>
                <td @if (!st.IsActive) { @Html.Raw("style=color:red") }>@st.FacultyNumber</td>
                <td>@Html.ActionLink(st.FirstName + " " + @st.LastName, "Details", "Student", new { id = st.Id }, new { target = "_blank" })</td>
                <td>@st.Username</td>
                <td>@st.Email</td>
                <td>
                    @Html.ActionLink("Edit", "EditStudent", "Student", new { id = st.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Student", new { id = st.Id }, null) |
                    @Html.ActionLink("Delete", "DeleteStudent", "Student", new { id = st.Id }, null)
                </td>
            </tr>
        }
    </table>
}