@model UniversitySystemMVC.ViewModels.StudentsVM.StudentsIndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Welcome, @Model.Student.FirstName @Model.Student.LastName!</h2>

<h3>Course: <strong>@Model.Course.Name</strong></h3>

<table class="table">
    <tr>
        <th>Subject</th>
        <th>Grades</th>
        <th>Final Grade</th>
        <th>Teachers</th>
    </tr>
    @foreach (var cs in Model.CoursesSubjects)
    {
        <tr>
            <td>@cs.Subject.Name</td>
            <td>@string.Join(" | ", cs.Subject.Grades.Where(g => g.StudentId == Model.Student.Id).Select(g => g.GradeValue.ToString("0.00")))</td>
            <td>
                @if (cs.Subject.Grades.Count(g => g.StudentId == Model.Student.Id) > 0)
                {
                    @cs.Subject.Grades.Where(g => g.StudentId == Model.Student.Id).Select(g => g.GradeValue).Average().ToString("0.00")
                }
            </td>
            <td>
                @if (cs.Teachers != null)
                {
                    <span>@string.Join(", ", cs.Teachers.Select(t => t.LastName))</span>
                }
            </td>
        </tr>
    }
</table>