@model UniversitySystemMVC.ViewModels.ArticlesVM.ArticlesIndexVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Articles</h2>

@if (@UniversitySystemMVC.Models.AuthenticationManager.IsTeacher)
{
    <p>
        @Html.ActionLink("Create New", "CreateArticle")
    </p>
}

<section id="articles" class="row">
    @foreach (var a in Model.Articles)
    {
        <article>
            <header>
                <h2 class="pull-left">@Html.ActionLink(@a.Title, "Read", "Article", new { id = @a.Id }, null)</h2>

                @if (UniversitySystemMVC.Models.AuthenticationManager.IsTeacher && (a.Teacher.Id == UniversitySystemMVC.Models.AuthenticationManager.LoggedUser.Id))
                {
                    <div class="pull-right">
                        @Html.ActionLink("Edit", "EditArticle", "Article", new { id = @a.Id }, null) |
                        <a href="#" data-toggle="modal" data-target="#article-delete" data-article="@a.Id">Delete</a>
                    </div>
                }
            </header>

            <h4>@a.Subject.Name</h4>
            <p class="article-date">Created: @a.DateCreated</p>
            <p><em>Added by @a.Teacher.FirstName @a.Teacher.LastName</em></p>
            <p class="article-content">@a.Content</p>
            @Html.ActionLink("Read More", "Read", "Article", new { id = @a.Id }, null)

        </article>
    }
</section>

<!-- Modal Delete Article -->
<div class="modal fade" id="article-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Article</h4>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>

            @using (Html.BeginForm("DeleteArticle", "Article", FormMethod.Post, new { id = "form-delete-article" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="articleId" class="articleId" value="" />
            }

            <div class="modal-footer">
                <button id="delete-btn" type="button" class="btn btn-danger">Delete Article</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>

<script>
    $('#article-delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var articleId = button.data('article');

        var modal = $(this);
        document.querySelector('#form-delete-article .articleId').value = articleId;

        //document.getElementById('edit-btn').onclick = function () {
        //    document.getElementById('form-edit-grade').submit();
        //}
        document.getElementById('delete-btn').onclick = function () {
            document.getElementById('form-delete-article').submit();
        }
    })
</script>
