@model UniversitySystemMVC.ViewModels.ArticlesVM.ArticlesIndexVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Articles</h2>

@if (@UniversitySystemMVC.Models.AuthenticationManager.IsTeacher)
{
    <p>
        @Html.ActionLink("Create New", "CreateArticle")
    </p>
}

<section id="articles" class="row">
    @foreach (var a in Model.Articles.OrderByDescending(a => a.DateCreated))
    {
        <article>
            <header>
                <h2 class="pull-left">@Html.ActionLink(@a.Title, "Read", "Article", new { id = @a.Id }, null)</h2>

                @if (UniversitySystemMVC.Models.AuthenticationManager.IsTeacher && (a.Teacher.Id == UniversitySystemMVC.Models.AuthenticationManager.LoggedUser.Id))
                {
                    <div class="pull-right">
                        @Html.ActionLink("Edit", "EditArticle", "Article", new { id = @a.Id }, null) |
                        <a href="#" data-toggle="modal" data-target="#article-delete" data-article="@a.Id">Delete</a>
                    </div>
                }
            </header>

            <h4>@a.Subject.Name</h4>

            @* <<<<<<<<< LIKES >>>>>>>>>> *@
            <div class="likes-container">
                <p id="like-subject-@a.Id-info">@a.Likes.Count people like this</p>
            </div>

            <p class="article-date">Created: @a.DateCreated</p>
            <p><em>Added by @a.Teacher.FirstName @a.Teacher.LastName</em></p>
            <p class="article-content">@a.Content</p>
            @Html.ActionLink("Read More", "Read", "Article", new { id = @a.Id }, null)

            

        </article>
    }
</section>

@Html.Partial("_DeleteArticleModal", Model)

<script src="~/Scripts/article-delete.js"></script>
