@model UniversitySystemMVC.ViewModels.ArticlesVM.ArticlesReadVM

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.User.FirstName @Model.User.LastName @Model.User.Id</h1>

<h2>@Model.Title</h2>

<section id="articles" class="row">
    <article>
        <header>
            <h2>@Model.Title</h2>
            <p class="article-date">Created: @Model.DateCreated</p>
            <p class="article-date">Last modified: @Model.DateModified</p>
        </header>

        <p class="article-content">@Model.Content</p>

        <div class="comment-container" id="comment-container-@Model.Id">
            <div class="well">

                <div class="comments" id="comments">
                    <h4>Comments</h4>
                    @foreach (var c in Model.Comments)
                    {
                        <div class="comment-entry" id="@c.Id">
                            <h5><span class="ui-icon ui-icon-comment pull-left"></span><strong>@c.Title</strong></h5>
                            <p class="comment-creator">Added by: @Model.User.FirstName @Model.User.LastName</p>
                            <p class="comment-date">Created: @c.DateCreated</p>
                            <p class="comment-date">Last modified:  @c.DateModified</p>

                            <p class="comment-content">@c.Content</p>
                        </div>
                    }
                </div>

                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#comment-add-@Model.Id" aria-expanded="false">
                    Add Comment
                </button>

                <div class="collapse comment-container" id="comment-add-@Model.Id">
                    <h3>Add a comment</h3>
                    @using (Ajax.BeginForm("CreateComment", "Comment", new AjaxOptions { InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "comments" }))
                    {
                        @Html.TextBox("Title", "Enter title", new { @class = "form-control" })
                        @Html.TextArea("Content", "Enter content", new { @class = "form-control" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.Hidden("UserId", Model.User.Id)
                        @Html.Hidden("UserType", UniversitySystemMVC.Models.AuthenticationManager.UserType)


                        @*<textarea class="form-control"></textarea>*@
                        <input type="submit" class="btn btn-block add-comment-btn" value="Add comment" id="submit-comment" />
                    }

                </div>
            </div>
        </div>

    </article>
</section>

<script>
    $(function () {
        //$('#')
        //var data = { title = }

        @*document.getElementById('submit-comment').addEventListener('click', function (e) {
            alert('asdasd');

            $.ajax({
                type: "POST",
                url: @Url.Action("CreateComment", "Comment"),
                data: {id: @Model.Id, title: @Model.Title, content: @Model.Content, userId: @Model.UserId, userType: @UniversitySystemMVC.Models.AuthenticationManager.UserType},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                alert(data);
            }

            function errorFunc() {
                alert('error');
            }
        });*@

        document.getElementById('submit-comment').addEventListener('click', function (e) {

            var serviceURL = '/Comment/CreateComment';

            $.ajax({
                type: "POST",
                url: serviceURL,
                //data: '{id:"'+@Model.Id+'",title:"'+@Model.Title+'",content:"'+@Model.Content+'",userId='+@UniversitySystemMVC.Models.AuthenticationManager.LoggedUser.Id+',userType="'+@UniversitySystemMVC.Models.AuthenticationManager.UserType+'"}',
                data: '{id:@Model.Id,title:@Model.Title,content:@Model.Content,userId=@UniversitySystemMVC.Models.AuthenticationManager.LoggedUser.Id,userType=@UniversitySystemMVC.Models.AuthenticationManager.UserType}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            //  alert('a');

            function successFunc(data, status) {
                alert(data);
                var appendComment = '<div class="comment-entry" id="' + data.id + '">';
                appendComment += '<h5><span class="ui-icon ui-icon-comment pull-left"></span><strong>' + data.title + '</strong></h5>';
                appendComment += '<p class="comment-creator">Added by: '+data.name+'</p>';
                appendComment += '<p class="comment-date">Created: '+data.dateCreated+'</p>';
                appendComment += '<p class="comment-date">Last modified: '+data.dateModified+'</p>';
                appendComment += '<p class="comment-content">'+data.content+'</p>';
                appendComment += '</div>';

                document.getElementById('comments').innerHTML += appendComment;
            }

            function errorFunc() {
                alert('error');
            }
        });
    });
    @*alert(e.target);
            var data = { id: @Model.Id, title: @Model.Title, content: @Model.Content };
            var data = { id: e.target.value };
            UniSystem.Ajax.get(@Url.Action("CreateComment"), data, function(json) {
                json = JSON.parse(json);
                for (var c in json) {

                }
                var appendComment = '<div class="comment-entry" id="'+data.id+'">';
                appendComment += '<h5><span class="ui-icon ui-icon-comment pull-left"></span><strong>'+data.title+'</strong></h5>';
                appendComment += '<p class="comment-creator">Added by: @Model.User.FirstName @Model.User.LastName</p>';
                appendComment += '<p class="comment-date">Created: @Model.DateCreated</p>';
                appendComment += '<p class="comment-date">Last modified:  @Model.DateModified</p>';
                appendComment += '<p class="comment-content">@Model.Content</p>';
                appendComment += '</div>';*@

    //document.getElementById('comments').innerHTML += appendComment;
    //});


</script>